<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    IM JED! - by jed crocker
  </h1>
  <img width="300" alt="Angular Logo" src="/assets/imjed.jpg">

<div>
  <input
    #searchInput
    type="text" placeholder="Search some shit ...">
  <button (click)="doSearch()">Search</button>
</div>

<div *ngIf="currentItem">
  <item-detail [item]="currentItem"></item-detail>
</div>

<div>
  <histogram [pbItems]="pbItems" (clickedItem)="handleItemClick($event)"></histogram>

</div>

<router-outlet></router-outlet>
