<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Explore the American Archive Reading Room ... 
  </h1>
  <div style="display: flex; flex-direction: row">
    <img src="/assets/aapb-q-50.jpg">
  </div>
<div>
  <input
    #searchInput
    type="text" placeholder="Search some shit ...">
  <label>
    Limit: <input #outputLimitInput type="number" value="1000">
  </label>
  <button (click)="doSearch()">Search</button>
</div>

<div *ngIf="currentItem">
  <item-detail [item]="currentItem"></item-detail>
</div>

<div>
  <histogram [pbItemsObs]="pbItemsObs" (clickedItem)="handleItemClick($event)"></histogram>

</div>

<router-outlet></router-outlet>
